@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --sb-track-color: #0062eb;
    --sb-thumb-color: #cbd5e1;
    --sb-size: 15px;
}

html {
    height: 100%;
}

body {
    min-height: 100vh;
    user-select: none;
}

#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body::-webkit-scrollbar {
    width: var(--sb-size)
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 10px;

}

@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}