@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    height: 100%;
}

body {
    min-height: 100vh;
    user-select: none;
}

#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}